@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;

      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

*{margin: 0;padding: 0;}

body {position: relative;}

#homepage h1{@apply text-xl sm:text-2xl}
#homepage h2{@apply text-lg sm:text-xl}
#homepage h3{@apply text-lg}

#navbar{
  @media (min-width: 768px){ background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(0,0,0,0.36) 15%, rgba(0,0,0,0.6) 50%, rgba(0,0,0,0.36) 85%, rgba(0,212,255,0) 100%);}
  @media (min-width: 1280px) {background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(0,0,0,0.36) 25%, rgba(0,0,0,0.6) 50%, rgba(0,0,0,0.36) 75%, rgba(0,212,255,0) 100%);}
}

#about-overlay{
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 52%, rgba(0,0,0,0.9) 74%, rgba(0,0,0,1) 100%);
}

#process .process-box{
  @apply bg-main-brown  max-w-[450px] lg:max-w-[420px] min-h-[250px] sm:h-[280px] lg:even:h-[320px] rounded-md relative flex flex-col items-center  pt-[40px] text-center
}

#process .process-box .number{
  @apply bg-main-dark-gray w-[70px] aspect-square rounded-full text-4xl flex items-center justify-center absolute -top-[35px] left-[50%] translate-x-[-50%]
}

#process .process-box p{
  @apply w-[80%] flex-1 flex items-center xl:text-lg
}


/*configure*/
#configure .square-buttons button {@apply w-[50px] xl:w-[60px] aspect-square ring-1 xl:ring-2 ring-black  }
#configure .rounded-buttons button {@apply w-[32px] xl:w-[38px] aspect-square rounded-full ring-1 xl:ring-2 ring-black }
#configure h1 {@apply text-3xl }
#configure h2 {@apply text-xl  }
#configure h3 {@apply text-sm lg:text-base }

#configure #price p {@apply bg-dark-gray px-2 py-1 rounded-sm}

/*admin*/
.admin-base-btn {@apply rounded-md px-2 py-1 bg-blue-300 hover:bg-blue-200 text-black}
.admin-base-input {@apply outline-none border-black border-[1px] rounded-md bg-gray-50 pl-2 py-[1px]}
/*order id*/
#order-id input {@apply admin-base-input }
#personal-info .error-div {@apply w-fit flex flex-col }
#personal-info .error-div span {@apply text-red-600 font-medium}

/*create product*/
#choose-create a {@apply bg-blue-400 rounded-lg px-2 py-1 text-white}

#create-product input, #product-id input {@apply admin-base-input sm:max-md:max-w-[200px]}
#create-product .input-name {@apply text-sm sm:text-base }

/*#product-id input {@apply border-black border-[1px] rounded-md outline-none sm:max-md:max-w-[200px]}*/