@tailwind base;
@tailwind components;
@tailwind utilities;

*{margin: 0;padding: 0;}

body {position: relative;}

#homepage h1{@apply text-xl sm:text-2xl}
#homepage h2{@apply text-lg sm:text-xl}
#homepage h3{@apply text-lg}

#navbar{
    @media (min-width: 768px){ background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(0,0,0,0.36) 15%, rgba(0,0,0,0.6) 50%, rgba(0,0,0,0.36) 85%, rgba(0,212,255,0) 100%);}
    @media (min-width: 1280px) {background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(0,0,0,0.36) 25%, rgba(0,0,0,0.6) 50%, rgba(0,0,0,0.36) 75%, rgba(0,212,255,0) 100%);}
}

#about-overlay{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 52%, rgba(0,0,0,0.9) 74%, rgba(0,0,0,1) 100%);
}

#process .process-box{
    @apply bg-main-brown  max-w-[450px] lg:max-w-[420px] min-h-[250px] sm:h-[280px] lg:even:h-[320px] rounded-md relative flex flex-col items-center  pt-[40px] text-center
}

#process .process-box .number{
  @apply bg-main-dark-gray w-[70px] aspect-square rounded-full text-4xl flex items-center justify-center absolute -top-[35px] left-[50%] translate-x-[-50%]
}

#process .process-box p{
  @apply w-[80%] flex-1 flex items-center xl:text-lg
}


/*configure*/
#configure .square-buttons button {@apply w-[50px] xl:w-[60px] aspect-square ring-1 xl:ring-2 ring-black  }
#configure .rounded-buttons button {@apply w-[32px] xl:w-[38px] aspect-square rounded-full ring-1 xl:ring-2 ring-black }
#configure h1 {@apply text-3xl }
#configure h2 {@apply text-xl  }
#configure h3 {@apply text-sm lg:text-base }

#configure #price p {@apply bg-dark-gray px-2 py-1 rounded-sm}

/*admin*/
#orders #orders-table thead tr th {@apply px-2 py-1 md:px-3 md:py-2 lg:px-6 lg:py-3}
#orders #orders-table tbody tr th,td {@apply px-2 py-1 md:px-3 md:py-2 lg:px-6 lg:py-2 }